.container{
    color: aliceblue;
    margin-bottom: auto;
    margin-left: auto;
    width: 70%;
    text-align: justify;
    font-size: 20px;
}
*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    width: 100%;
    min-height: 100vh; 
}
html{
    --background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
html[data-theme="dark"] {
    --background: linear-gradient(180deg, rgba(10, 10, 10, 0.82) 0%, rgba(26, 24, 24, 0.98) 100%);;
}
html{
    background: var(--background);
}
.avaliacao{
    margin-top: 50px;
    text-align: justify;
}
button{
    width: 20%;
    font-size: 20px;
    height: 28px;
    background-color: white;
    border-radius: 15px;
    color: black;
}
.resultado{
    text-align: center;
    font-size: 20px;
    color: white;
}
.certo{
    color: rgb(145, 255, 0);
}
.errado{
    color: rgb(255, 0, 0);
}