.imagem1{
    width: 1000px; 
    height: 400px;
    background:url("../IMG/carrosel/amigos-um-milhão.jpg");
}
.imagem2{
    width: 1000px; 
    height: 400px;
    background:url("../IMG/carrosel/velha.png");
}
.imagem3{
    width: 1000px; 
    height: 400px;
    background:url("../IMG/carrosel/chipconley.png");
}
.texto {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}
.carrossel{
    position: fixed;
}
.carousel_slide{
    align-content: center;
}