*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    width: 100%;
    min-height: 100vh; 
}
html{
    --background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
html[data-theme="dark"] {
    --background: linear-gradient(180deg, rgba(10, 10, 10, 0.82) 0%, rgba(26, 24, 24, 0.98) 100%);;
}
html{
    background: var(--background);
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: rgba(241, 220, 220, 0.842);
    text-decoration: none;
}
.container{
    width: 60%;
    background: #f5fffa;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: auto;
}
.box_curso{
    background: var(--background);
    width: 80%;
    text-align: justify;
    height: 100px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
}
#buscar_curso{
    margin-bottom: 40px;
}
input{
    width: 50%;
    height: 30px;
    margin-top: 25px;
    font-size: 20px;
}
.img_lupa{
    width:20px;
    height:20px;
}
.cont{
    width: 80%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 80%;
}