.Titulo{
    font-size: 30px;
    color: white;
    margin-top: 25px;
    text-align: center;
}
.qr_doa{
    width: 400px;
    height: 400px;
    margin-top: 25px;
}
.subti{
    font-size: 30px;
    color: white;
    margin-top: 25px;
    text-align: center;    
}
*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: rgba(241, 220, 220, 0.842);
    text-decoration: none;
}