*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    width: 100%;
    min-height: 100vh; 
}
html{
    /*height: auto;*/
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
.carrosel{
    margin-top: 10px;
}
.empresas{
    margin-top: 45px;
    color: white;
}
.barra{
    font-size: 75px;
    color: white;
}
.titulo_empresa{
    font-size: 50px;
    margin-top: -65px;
    margin-left: 25px;
}
.img_empresas{
    width: 720px;
    height: 460px;
}
.box{
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    align-items: stretch;
    align-items: 20px;
}
.img1{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    background: white;
    border-radius: 25px;
}
.img2{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-right: 500px;
    background: white;
    border-radius: 25px;
}
.img3{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-right: -500px;
    background: white;
    border-radius: 25px;
}
.img4{
    position: absolute;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 25px;
}
.img5{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-right: -500px;
    background: white;
    border-radius: 25px;
}
.img6{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-right: 500px;
    background: white;
    border-radius: 25px;
}
.cea{
    width: 150px;
    height: 150px;  
    margin-top: 25px;
    margin-left: 25px;
}
.ml{
    width: 150px;
    height: 125px;  
    margin-top: 35px;
    margin-left: 30px;
}
.amz{
    width: 100px;
    height: 100px;  
    margin-top: 50px;
    margin-left: 50px;
}
.poli{  
    margin-top: 50px;
    margin-left: 00px;    
}
/*.planos{
    margin-top: 550px;
    color: white;
}
.box1{
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 75px;
    align-items: stretch;
}
.plano1{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(3, 163, 255, 0.822) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
    margin-right: 80px;
    margin-top: 50px;
}
.plano2{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(3, 163, 255, 0.822) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
}
.plano3{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(3, 163, 255, 0.822) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
    margin-left: 80px;
    margin-top: 50px;
}
.cont{
    text-align: center;
    width: 250;
    height: 350px;
    color: black;
    margin-top: 25px;
    font-size: 35px;
}
.beneficios{
    font-size: 20px;
    color: white;
    margin-top: 30px;
    list-style: none;
    text-align: justify;
}
li{
    margin-top: 15px;
    width: 250px;
    margin-left: 30px;
}
.btn_sobre{
    border:none!important;
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 160px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}
.btn_sobre2{
    border:none!important;
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}
.btn_sobre3{
    border:none!important;
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}*/
button:active{
    border:none!important;
    background: linear-gradient(180deg, rgba(60, 4, 131, 0.25) 0%, rgba(175, 81, 142, 0.25) 66.15%, rgba(34, 3, 84, 0.25) 100%);
    
}
button:hover{
    border:none!important;
    background: rgb(25, 0, 255);
}
button:visited{
    border:none!important;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: rgba(241, 220, 220, 0.842);
    text-decoration: none;
}
.container{
    width: 60%;
    background: #f5fffa;
    margin-top: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: auto;
}
.box_curso{
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
    width: 80%;
    text-align: justify;
    height: 100px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
}
#buscar_curso{
    margin-bottom: 40px;
}
input{
    width: 50%;
    height: 30px;
    margin-top: 25px;
    font-size: 20px;
}
.img_lupa{
    width:20px;
    height:20px;
}
.cont{
    width: 80%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 80%;
}