*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
a.menu_link:link{
    color: #FDFBFB;
    text-decoration: none;
}
a.menu_link:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a.menu_link:visited{
    color: #FDFBFB;
    text-decoration: none;
}
.menu{
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #001AFF 0%, rgba(47, 162, 187, 0.88) 100%);  
    position: fixed;
}
.opcoes{
    text-align: center;
    margin-top: 20px;
}
.logo{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 35px;
}
.img_menu{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.coluna{
    list-style: none;
}
.lista{
    display: inline-block;
    margin-right: 40px;
    font-size:20px;
    color:#FDFBFB;
}
.label{
    margin-right: 0px;
    font-size: 24px;
}