.box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    height: auto;
    background: white;
    border-radius: 25px;
}
a{
    font-size: 18px;
    background-color: blue;
}
.cont{
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: blue;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    resize: vertical;
    background-color: white;
    height: 30px;
    width: 70%;
    font-size: 18px;
    resize: vertical;
    background-color: white;
}
input{
    height: 22px;
    width: 70%;
    font-size: 18px;
}
.botao{
    width: auto;
    height: 30px;
    font-size: 20px;
}
*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: rgba(241, 220, 220, 0.842);
    text-decoration: none;
}