*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
    width: 100%;    
    min-height: 100vh; 
}
html{
    --background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
html[data-theme="dark"] {
    --background: linear-gradient(180deg, rgba(10, 10, 10, 0.82) 0%, rgba(26, 24, 24, 0.98) 100%);;
}
html{
    background: var(--background);
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: rgba(241, 220, 220, 0.842);
    text-decoration: none;
}
.container{
    margin-top: 20px;
    width: 60%;
    height: auto;
    color: white;
    font-size: 1.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--background);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
table{
    align-items: center;
    font-size: 1.375rem;
    height: auto;
    color: aliceblue;
    position: flex;
}
.cont{
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.tabela{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
button{
    border:1px solid  #FDFBFB;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background: var(--background);
    display: block;
    transition-duration: 0.4s;
    position: relative;
    align-content: right;
}
button:hover{
    border:none!important;
    color: black;
    background: white;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
button:active{
    border:none!important;
    background: black;
    color: white;
}
.prova{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border:1px solid  #FDFBFB;
}
td{
    text-align: left; 
    border:1px solid  #FDFBFB;
}
th.botao{
    border:none;
    align-items: center;
    background: none;
}
td.bt{
    border:none;
    background: none;
}