.contato{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    text-align: justify;
    color: white;
}
*{
	margin: 0;
    padding: 0;
}
input{
    height: 40px;
    width: 300px;
    font-size: 20px;
}
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
    height: 800px;
    width: 100%;
    /*background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);*/
    background: white;
}
a:link{
    color: rgb(231, 213, 213);
    text-decoration: none;

}
h2{
    text-align: center;
}
button{
    border:none!important;
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    background: rgba(118, 197, 243, 0.822);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    position: relative;
}
textarea{
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 20px;
    resize: vertical;
}
.fundo{
    background: linear-gradient(180deg, rgba(118, 197, 243, 0.822) 0%, rgba(5, 39, 248, 0.98) 100%);
    width: 50%;
    margin: 0 auto;
    padding: 20px 40px;
    height: 80%;
    margin-top: 20px;
    border-radius: 25px;
}
button:hover{
    border:none!important;
    color: black;
    background: white;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
button:active{
    border:none!important;
    background: black;
    color: white;
}