*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
    height: 2000px;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
}
a:link{
    color: white;
    text-decoration: none;

}
a:hover{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited{
    color: white;
    text-decoration: none;
}
.carrosel{
    margin-top: 25px;
}
.empresas{
    margin-top: 45px;
    color: white;
}
.barra{
    font-size: 75px;
    color: white;
}
.titulo_empresa{
    font-size: 50px;
    margin-top: -65px;
    margin-left: 25px;
}
.img_empresas{
    width: 720px;
    height: 460px;
}
.box{
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    align-items: stretch;
    align-items: 20px;
}
.img1{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    background: #FFFFFF;
    border-radius: 25px;
}
.img2{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-right: 500px;
    background: #FFFFFF;
    border-radius: 25px;
}
.img3{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-right: -500px;
    background: #FFFFFF;
    border-radius: 25px;
}
.img4{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 25px;
}
.img5{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-right: -500px;
    background: #FFFFFF;
    border-radius: 25px;
}
.img6{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-right: 500px;
    background: #FFFFFF;
    border-radius: 25px;
}
.cea{
    width: 150px;
    height: 150px;  
    margin-top: 25px;
    margin-left: 25px;
}
.ml{
    width: 150px;
    height: 125px;  
    margin-top: 35px;
    margin-left: 30px;
}
.amz{
    width: 100px;
    height: 100px;  
    margin-top: 50px;
    margin-left: 50px;
}
.poli{  
    margin-top: 50px;
    margin-left: 00px;    
}
.planos{
    margin-top: 550px;
    color: #FFFFFF;
}
.box1{
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 75px;
    align-items: stretch;
}
.plano1{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
    margin-right: 100px;
    margin-top: 50px;
}
.plano2{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
}
.plano3{
    width: 300px;
    height: 400px;
    background: linear-gradient(180deg, rgba(4, 112, 174, 0.82) 0%, rgba(5, 39, 248, 0.98) 100%);
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 50px;
}
.cont{
    text-align: center;
    width: 250;
    height: 350px;
    color: black;
    margin-top: 25px;
    font-size: 35px;
}
.beneficios{
    font-size: 20px;
    color: white;
    margin-top: 30px;
    list-style: none;
    text-align: justify;
}
li{
    margin-top: 15px;
    width: 250px;
    margin-left: 30px;
}
.btn_sobre{
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 160px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}
.btn_sobre2{
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}
.btn_sobre3{
    width: 200px;
    height: 80px;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
    border-radius: 25px;
    border:none;
    font-size: 20px;
}
button:active{
    background: linear-gradient(180deg, rgba(60, 4, 131, 0.25) 0%, rgba(175, 81, 142, 0.25) 66.15%, rgba(34, 3, 84, 0.25) 100%);
    
}
button:visited{
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.733) 0%, rgba(25, 14, 75, 0.25) 66.15%, rgba(150, 150, 151, 0.959) 100%);
}
/*.rodape{
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 340px;
    background: linear-gradient(180deg, rgba(60, 4, 131, 0.25) 0%, rgba(175, 81, 142, 0.25) 66.15%, rgba(34, 3, 84, 0.25) 100%);
}
.logo{
    background: -webkit-linear-gradient(180deg, #FDFBFB -28.46%, #00FFE0 141.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;

}*/