*{
	margin: 0;
    padding: 0;
}
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
    height: 2353px;
    background: linear-gradient(180deg, rgba(42, 141, 198, 0.38) 0%, rgba(5, 39, 248, 0.98) 100%);
}